.borderItems {
    border: 5px outset rgb(171, 153, 216);
    background-color: rgb(168, 201, 212);
    text-align: left;
  }
  .page-title {
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(8, 8, 8);

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 40;
    padding-left: 40px;

    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;

  }

  p {
    border: 5px outset rgb(209, 216, 153);
    background-color: rgb(168, 201, 212);
  }
  .article{
    border: 4 solid hsl(84, 44%, 71%);
    padding: 40px 20px;
    margin: 30px 10px;

  }